@import url('https://fonts.googleapis.com/css2?family=Oi&display=swap');
body {
    background-color: #fbefdb;
    font-family: "Fridericka the great", serif;
    font-weight: 400;
    font-style: normal;
}

.banner{
    background-image: url(/Zitazagyvai7.github.io/img/banner.jpg);
    height: 400px;
    background-position: center center;
    background-size: cover;
}

.kave:hover{
    box-shadow: 0px 0px 5px #1f5b25;
}
.kave>h2{
    font-size: 1rem;
    text-align: center;
    margin-top: 1rem;
    font-variant: small-caps;
}
#discount{
    position: absolute;
    height: 100px;
}
h1{
    font-family: 'Fridericka the great' cursive;
    color: #1f5b25;
    text-align: center;
}
.footer{
    background-color: #1f5b25;
    color: white;
}
footer li{
    list-style: none;
}
footer li>img{
    width: 15px;
    margin-right: 10px;
}
.modal-content{
    background-color: #eadac0;
}
.Blogimg{
    font-size: 18rem;
    width: 25rem;
    padding-left: 5%

}
.Kavezo{
    font-size: 18rem;
    width: 25rem;
    padding-left: 5%;
}